.training-programs {
    width: 90%;
    margin: 2rem auto;
}

.training-programs h3 {
    font-size: 1.4rem;
}

.training-programs h6 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.7);
}

.training-programs li {
    font-size: 1.4rem;
    line-height: 1.7;
    font-weight: bold;
}