.training-programs {
    width: 90%;
    margin: 2rem auto;
}

.training-programs h3 {
    font-size: 1.4rem;
}

.training-programs h6 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.7);
}