/*Main Section */
.section_navbar
{
    font-family: "monserrat", sans-serif;
    height: 8.6rem; 
    width: 100%;
    padding: 0 4.5rem;
    background-color: var(--bg-main);
    z-index: 10;
    -webkit-user-select: none;
    user-select: none;
}

.lock
{
    position: fixed;
}

.arrow_main
{
    display: none;
}

.nav_head
{
    margin: 4%;
}

.nav_head img 
{
    width: 70%;
}

/* Section 1 */
.navbar_prime
{
    display: flex;
    justify-content: space-between;
    height: 7rem;
    color: var(--white);
}

.navbar-image
{
    width: 74px;
    height: 74px;
    margin-top: -1rem;
}

.navbar_title
{
    display: flex;
    padding: 2.5rem 0 1.5rem 0;
    align-items: center;
    pointer-events: none;
}

.navbar_menu-sec
{
    font-size: 1.02rem;  
    font-weight: bold;
}

.navbar_menu-sec ul li
{
    position: relative;
}

.navbar_menu-sec ul li > *:hover
{
    text-decoration: underline;
}

.navbar_menu-sec ul > :not(:last-child) ::after
{
  content: '';
  width: 1.5px;
  height: 20px;
  position: absolute;
  right: 0%;
  background-color: var(--white);
}

.navbar_menu-sec a
{
    color: var(--white);
}

/* Section 2 */
.navbar_menu-main
{
    position: absolute;
    right: 8%;
    font-size: 1.17rem; 
    background-color: var(--white);
    width: 824px;
    float: right;
    align-self: center;
    z-index: 10;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.123);
}

.navbar_menu-main a
{
    color: var(--bg-main);
}

.navbar_menu-main ul,
.navbar_menu-sec ul
{
    display: flex;
    justify-content: space-between;
}

.navbar_menu-main ul li,
.navbar_menu-sec ul li
{
    padding: 1.3rem 1.5rem;
}

.navbar_menu-main li
{
   /* transition: width 2s; */
    position: relative;  
}

.navbar_menu-main li:hover > div
{
    display: block;
}

.navbar_menu-main li::after,
.navbar_menu-main li::before
{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0; 
    background: var(--ash);
    transition: width 0.8s; 
}

.navbar_menu-main li:hover::after,
.navbar_menu-main li:hover::before
{
    width: 40%;
    height: 4px;
}

.navbar_menu-main li::after
{
    left: 50%; 
}

.navbar_menu-main li::before
{
    right: 50%;  
}

@media screen and (max-width: 1280px)
{
    .navbar_menu-main
    {
        width: 830px;
    }

}

@media screen and (max-width: 1160px)
{
    .navbar_menu-main
    {
        font-size: 1.05rem; 
        width: 710px;
    }

    .navbar_menu-sec
    {
        font-size: 0.86rem;  
    }

    .navbar_menu-main ul li,
    .navbar_menu-sec ul li
    {
        padding: 1.3rem 1.2rem;
    }
}

@media screen and (max-width: 980px)
{
    label 
    {
        display: block;
        width: 100%;
        height: 100%;
    }
    .section_navbar
    {
        padding: 2rem 4.5rem;
    }

    .icons
    {
        fill: white;
        margin-right: 0.7rem;
        align-self: stretch;
    }

    .icons:hover 
    {
        fill: var(--bg-main);
    }

    .arrow_main
    {
        display: block;
        fill: white;
        position: absolute;
        right: 10%;
    }

    .side-items li:hover > .arrow_main, 
    .side-items li:hover > .side-flex .arrow_main 
    {
        fill: var(--bg-main);
    }

    .down-list
    {
        flex-direction: column;
    }

    .navbar_menu-main,
    .navbar_menu-sec
    {
        display: none;
    }

    .navbar_prime
    {
        height: 4.5rem;
    }

    .navbar_title
    {
        font-size: 1.04rem; 
        padding: 0;
    }

    .side-items ul
    {
        margin-top: 1.7rem;
    }

    .side_li > a,
    .side_li > a:visited
    {
        color: var(--white);
        padding-top: 0rem;
        padding-bottom: 0;
    }

    .side_li:hover,
    .side_li:active
    {
        transform: translateX(-2px);
        color: currentColor !important;
        background-color: transparent !important;
    }
}

@media screen and (max-width: 780px)
{
    .section_navbar
    {
        padding: 2rem;
    }

}

@media screen and (max-width: 640px)
{
    .section_navbar
    {
        height: 5.6rem; 
        padding: 0.8rem 2rem;
    }

    .nav_head img 
    {
        width: 60%;
        margin-top: -0.1rem; 
    }

    .navbar-image
    {
        width: 58px;
        height: 58px;
        margin-top: -0.6rem;
    }

}

@media screen and (max-width: 520px)
{
    .section_navbar
    {
       
        height: 4.5rem; 
        padding: 0 1.8rem;
    }

    .nav_head
    {
        margin: 3.5%;
    }

    .nav_head img 
    {
        width: 53%;
    }

    .navbar-image
    {
        width: 46px;
        height: 46px;
        margin-top: -0.5rem;
    }
}


