#pointer
{
    cursor: pointer;
}

.section_profile
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: var(--bg-offwhite);
    z-index: 11;
}

ol
{
    padding-left: 1.5rem;
    margin-bottom: 2rem;
}

ol > li
{
    list-style: decimal;
}

.profile_text ol ul
{
    padding-left: 2rem;
}

.profile_text ol ul > li
{
    list-style: circle;
}

.profile_head
{
    background-color: var(--bg-main);
    padding: 0 6rem;
    width: inherit;
    height: 30rem;
    color: var(--white);
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    position: relative;
}

.profile_head h2
{
    font-size: 3.5rem;
}

.profile_head h5
{
    font-size: 2rem;
}

.profile_head h6
{
    font-size: 1.4rem;
}

.profile_nav
{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 35rem;
    margin: 0 auto;
}

.profile_nav p
{
    color: var(--white);
   
}

.head_div
{
    display: flex;
    align-items: center;
}



.photo_container
{
    width: 36%;
    height: 28rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.profile_photo
{
    width: 250px;
    height: 280px;
    outline: 2px solid white;
    outline-offset: 1rem;
}

.profile_photo > img
{
    width: 100%;
    height: 100%;
}


/* navigation */


.research-link
{
    position: relative;
    padding: 0 0.3rem 0.2rem 0.3rem;
}

.research-link label:hover 
{
    cursor: pointer;
}

.research-link:hover .drop-menu
{
    display: block;
}

.drop-menu:hover
{
    display: block;
}

.drop-menu
{
    content: "";
    min-width: 180px;
    display: none;
    position: absolute;
    top: 90%;
    left: 0%;
    transform: translateX(-25%);
    background-color: white;
    text-align: center;
    border-radius: 12px; 
    box-shadow: 2px 3px 5px rgb(0, 0, 0, 0.5);
    overflow: hidden;
}

.drop-menu ul li
{
    display: block;
    padding: 5px 0;
    color: var(--bg-main); 
}

.drop-menu ul li:hover
{
    color: white;
    background-color: rgb(3, 18, 58);
}

.profile_text
{
    width: 90%;
    margin: 0 auto;
    color: var(--bg-main);
    font-family: "Roberto", sans-serif;
    line-height: 1.6;
    font-size: 1.2rem;
}

.profile_section-1
{
    width: 100%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 30rem 1fr;
    grid-template-rows: repeat(2, 6rem);
    grid-column-gap: 3rem;
    font-family: "Roberto", sans-serif;
}

div[class^='child_sec-']
{
    padding: 1rem 2rem;
    line-height: 1.6;
}
.child_sec-1
{
   
    text-align: center;
    background-color: #bcc4cf;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.prof_container
{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.prof_text_temp 
{
    margin-bottom: 2rem;
}

.prof_text_temp > h2
{
    display: inline-block;
    position: relative;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.prof_text_temp > h2::before
{
    content: "";
    width: 80%;
    height: 0.3rem;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: powderblue;
}

.bullet-h4::before
{
    content: " ";
    display: list-item;
    list-style-type: circle;
    position: absolute;
}

.btn-prof
{
    display: block;
    padding: 16px 32px;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: 4%;
    right: 2%;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    transition: all 0.5s;
}

.btn-prof:hover
{
    background-color: white;
    color: var(--bg-main);
}

.btn-prof:active
{
    transform: scale(0.96);
}