/* Importing Font 'Poppins' from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


.section_about
{
    height: 30rem;
}

.section_about h2
{
    font-size: 1.7rem;
    color: var(--bg-main);
}

.about_main
{
    width: 90%;
    height: inherit;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between; 
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%),
    url("../../../Assets/main/img_about.jpg");
    background-size: cover;
    padding-left: 1.2rem;
   
}

.about_head 
{
    display: inline-block;
    
    padding: 0.5rem 1.1rem 0.6rem 0;
    position: relative;
    margin-bottom: 0.6rem;
}


.about_head::before
{
    content: "";
    width: 70%;
    height: 0.2rem;
    position: absolute;
    bottom: 10%;
    left: 0%;
    background-color: powderblue;
}

.about_text
{
    width: 74%;
    height: inherit;
    line-height: 1.7;
}

.about_text > p:not(:last-child)
{
    margin-bottom: 0.56rem;
}

@media screen and (max-width: 1260px)
{
    .section_about
    {
        height: 31.4rem;
    }

    .section_about h2
    {
        font-size: 1.5rem;
    }

    .about_main
    {
        font-size: 0.95rem;
    }

    .about_text
    {
        line-height: 1.6;
    }
}

@media screen and (max-width: 1130px)
{
    .section_about
    {
        height: 31.6rem;
    }

    .about_main
    {
        font-size: 0.90rem;
    }

    .about_text
    {
        line-height: 1.6;
    }
}

@media screen and (max-width: 980px)
{
    .section_about
    {
        height: 33.6rem;
    }

    .about_main
    {
        font-size: 0.90rem;
    }

    .about_text
    {
        line-height: 1.5;
    }
}

@media screen and (max-width: 860px)
{
    .section_about
    {
        height: 33.6rem;
    }

    .about_main
    {
        font-size: 0.90rem;
    }

    .about_text
    {
        line-height: 1.5;
    }
}

@media screen and (max-width: 520px)
{
    .about_main
    {
        background-image: none;
        padding-left: 0;
        margin: 2rem auto 0.6rem auto;
    }

    .about_text
    {
        width: 100%;
        line-height: 1.4;
        text-align: justify;
    }

    .section_about
    {
        height: 100%;
    }
}
