/* Main */
.section_facilities
{
    width: 90%;
    margin: 0 auto;
    padding-top: 8rem;
}

.facilities_box
{
    display: flex;  
    height: 28rem; 
    margin-bottom: 5.6rem; 
}

.article_img
{
    width: 54%;
    height: calc(100% - 2rem);
    margin-top: 2rem;
} 

.article_img > img
{
    width: 100%;
    height: 100%;
}

.fac_common
{
    width: 46%;
    height: calc(100% - 6rem);
    color: #0c2340;
    font-family: "Poppins", sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fac_common > h2
{
    width: 90%;
    padding-left: 2rem;
}

.fac_common::before
{
    content: "";
    width: 135%;/*54.5rem; */
    height: 110%;
    position: absolute;
    background-color: #edf2f9;
    outline: 2px  #bcc4cf solid;
    outline-offset: 10px;
    z-index: -1;
}

.facilities_para-1::before
{
    transform: translate(-26%, 0); /*4rem */
}

.facilities_para-2::before
{
    transform: translate(0, 0);
}

.change
{
    flex-direction: row-reverse;  
}


@media screen and (max-width: 1370px)
{
    .facilities_box
    { 
        height: 26rem; 
    }

    .fac_common
    {
        font-size: 0.95rem; 
    }

}

@media screen and (max-width: 1180px)
{
    .facilities_box
    { 
        height: 24rem; 
    }

    .fac_common
    {
        font-size: 0.84rem; 
    }

}

@media screen and (max-width: 1020px)
{
    .facilities_box
    { 
        height: 22rem; 
    }

    .fac_common
    {
        font-size: 0.72rem; 
    }

}

@media screen and (max-width: 880px)
{
    .section_facilities
    {
        width: 70%;
        padding-top: 3.5rem;
    }

    .facilities_box
    { 
        flex-direction: column;
        height: 30rem; 
        margin-bottom: 4rem;
    }

    .fac_common
    {
        font-size: 0.72rem; 
    }
    
    .article_img
    {
        width: 100%;
        height: calc(56%);
        margin-top: 0;
    } 
    
    .fac_common
    {
        width: 100%;
        height: calc(44%);
        align-items: center;
    }
    
    .fac_common > h2
    {
        width: 90%;
        padding-left: 0;
    }
    
    .fac_common::before
    {
        width: 100%;/*54.5rem; */
        height: 100%; 
        outline-offset: -2px;
    }
    
    .facilities_para-1::before
    {
        transform: translate(0, 0); /*4rem */
    }
    
    .facilities_para-2::before
    {
        transform: translate(0, 0);
    }
    
    .change
    {
        flex-direction: column;  
    }
}

@media screen and (max-width: 690px)
{
    .section_facilities
    {
        width: 75%;
        padding-top: 3.5rem;
    }

    .article_img
    {
        height: calc(52%);
    } 
    
    .fac_common
    {
        height: calc(48%);
    }

    .facilities_box
    { 
        flex-direction: column;
        height: 27rem; 
        margin-bottom: 4rem;
    }

    .fac_common
    {
        font-size: 0.6rem; 
    }

}

@media screen and (max-width: 500px)
{
    .section_facilities
    {
        width: 86%;
    }

    .facilities_box
    { 
        height: 22rem; 
        margin-bottom: 3.5rem;
    }

    .article_img
    {
        height: calc(50%);
    } 
    
    .fac_common
    {
        height: calc(50%);
    }

    .fac_common
    {
        font-size: 0.5rem; 
    }

}