/* Main */
.section_facilities
{
    width: 90%;
    margin: 7rem auto;
}

.facilities_box
{
    display: flex;  
    height: 28rem; 

}

.article_img
{
    width: 54%;
    height: calc(100% - 2rem);
    margin-top: 2rem;
} 

.article_img > img
{
    width: 100%;
    height: 100%;
}

.fac_common
{
    width: 46%;
    height: calc(100% - 6rem);
    color: #0c2340;
    font-family: "Poppins", sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fac_common > h2
{
    width: 90%;
    padding-left: 2rem;
}

.fac_common::before
{
    content: "";
    width: 135%;/*54.5rem; */
    height: 110%;
    position: absolute;
    background-color: #edf2f9;
    outline: 2px  #bcc4cf solid;
    outline-offset: 10px;
    z-index: -1;
}

.facilities_para-1::before
{
    transform: translate(-26%, 0); /*4rem */
}

.facilities_para-2::before
{
    transform: translate(0, 0);
}

.change
{
    flex-direction: row-reverse;  
}


@media screen and (max-width: 1370px)
{
    .facilities_box
    { 
        height: 26rem; 
    }

    .fac_common
    {
        /* font-size: 0.95rem; */
    }

}

@media screen and (max-width: 1180px)
{
    .facilities_box
    { 
        height: 24rem; 
    }

    .fac_common
    {
        /* font-size: 0.86rem; */
    }

}