.notices_section h4{
	text-align: center;
}

.notices_div {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	text-align: center;
	gap: 20px;
}

.notices_div div {
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 1rem 5rem;
}

.notices_div div p {
	font-size: 1.3rem;
}

.notices_div div a {
	display: block;
	margin: 1rem 0;
	text-decoration: underline;

}