/* Common Styles */

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    font-size: 100%; /* for setting 1rem == 10px */
    background-color: #f6f6f7;
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}