.div_card
{
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); 
    position: relative;
}

.div_card > h4
{
    font-size: 1.4em;
    font-weight: 600;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-family: "Roberto", sans-serif;
}

.div_card h4 span
{
    background: linear-gradient(to right bottom, rgba(3, 29, 58, 0.93), rgba(8, 40, 129, 0.93));
    padding: 1rem 1.12rem;
}

.pic_container
{
    width: inherit;
    height: 10rem;
    position: relative;
}

.pic_container > img
{
    width: 100%;
    height: 100%;
   
}

.pic_container::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, rgba(3,29,58, 0.7), rgba(8,40,129, 0.7));
    visibility: transparent;
}

.btn_card
{
    padding: 1rem 3rem;
    display: block;
    border: 1px var(--bg-main) solid;
    cursor: pointer;
    background-color: var(--white);
    margin: 3rem auto 0 auto;
}

.btn_card:hover
{
    background-color: var(--bg-main);
    color: var(--white);
}


