@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
.section_footer 
{
    background-color: #031d3a;
}

.container_f 
{
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.logo 
{
    width: 16rem;
    height: 6rem;
    margin:0 2%;
}

.logo img 
{
    width: 100%;
    height: 100%;
}

.vox_f 
{
    width: calc(100% - 20rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 3%;
}

.hox_f1 
{
    width: 100%;
    margin: 1% 0;
}

.item_f1 
{
    font-family: "Roboto Slab", sans-serif;
    color: white;
    font-weight: 500;
    margin-right: 6.5%;
}

.item_f2 
{
    font-family: "Roboto Slab", sans-serif;
    color: rgb(196, 196, 196);
    font-weight: 400;
    font-size: 85%;
    margin-right: 4%;
    text-decoration: none;
}

.copyright 
{
    font-family: "Roboto Slab", sans-serif;
    color: rgb(255, 255, 255);
    padding-bottom: 30px;
    font-size: 80%;
    text-align: center;
}

@media screen and (max-width: 1160px) 
{
    .logo 
    {
        width: 10.67rem;
        height: 4rem;
        margin: 2% 0 2% 2%;
    }

    .hox_f1 
    {
        margin: 2% 0;
    }


} 

@media screen and (max-width: 980px) 
{
    .container_f 
    {
        flex-direction: column;
    }

    .hox_f1 
    {
        display: flex;
        justify-content: center;
    }
}

@media screen and  (max-width: 680px) {
    .container_f 
    {
        flex-basis: 100%;
    }
  
    .vox_f 
    {
        width: 60%;
        flex-direction: row;
        margin: 1.4rem auto;
    }

    .hox_f1
    {
        flex-direction: column;
    }

    .item_f1,
    .item_f2
    {
        font-size: 1.2rem;
        margin: 0.3rem;
        color: white;
        width: max-content;
    }

    .f2 
    {
        align-items: flex-end;
    }
}

@media screen and  (max-width: 480px) 
{
    .item_f1,
    .item_f2
    {
        font-size: 1.1rem;
        margin: 0.5rem;
    }

    .vox_f 
    {
        width: 65%;
        margin: 1rem auto;
    }
}