.section_alumni
{
    width: 96%;
    margin: 1rem auto;
    font-family: "Poppins", sans-serif;
    display: flex;
}

.alumni-div 
{
    width: calc(100% - 22rem);
    text-align: justify;
    margin-top: 2rem;
}