.boxes {
  width: 90%;
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding-right: 5%;
  padding-left: 5%;
}
@media (max-width: 700px) {
  .boxes {
    flex-direction: column;
  }
}
