.hrblock 
{
    background-color: #031d3a;
    width: 100%;
    height: 50px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explr 
{
    color: white;
    font-family: "Roboto", sans-serif;
    display: flex;
    letter-spacing: 3px;
    cursor: pointer;
}

.new-block
{
    width: 100%;
    height: 10rem;
    align-items: center;
    justify-content:center;
}

.block_links
{
    width: 5rem;
    height: 5rem;
    margin: 0 2rem;
    text-align: center;
}
