.hrblock 
{
    background-color: #031d3a;
    width: 100%;
    height: 3.12rem;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explr 
{
    color: white;
    font-family: "Roboto", sans-serif;
    display: flex;
    letter-spacing: 3px;
    cursor: pointer;
}

.new-block
{
    width: 42%;
    background-color: white;
    padding: 2.2rem 0;
    margin: 3rem auto;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.123);
    font-family: "Poppins", sans-serif;
   /* outline: 12px solid var(--bg-main);
    outline-offset: 0.7rem; */
    
}

.block_list
{
    display: flex;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    transition: all 2s ease-in-out;
}

.block_links 
{
    padding: 0.7rem 2rem;
}

.block_links:not(:last-child)
{
    border-right: 1px solid #EBEBEB; 
}

.block_links:hover
{
    transform: scale(1.05);
}
