/* Common Styles */
:root
{
    --bg-main: #031d3a; /* #0c2340 */
    --bg-offwhite: #f6f6f7;
    --ash: #555;
    --white: #FEFEFA;
}

::selection
{
    color: var(--white);
    background-color: var(--bg-main);
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    font-size: 100%; /*1 rem = 16px */
    background-color: var(--bg-offwhite);
}

#root
{
    max-width: 1900px;
    margin: 0 auto;
}

a
{
    text-decoration: none;
}

a:hover,
#pointer
{
    cursor: pointer;
}

li
{
    list-style: none;
}

.main-head
{
    display: inline-block;
    position: relative;
}

.main-head::before
{
    content: "";
    width: 80%;
    height: 0.3rem;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: powderblue;
}




/* Styles for overriding Bootstrap css */
h1, h2, h3, h4, h5, h6, ul, p
{
    margin-bottom: 0;
    padding-left: 0;
}
