.sidebar_main
{
    display: none;
    z-index: 3;
    width: 0;
    overflow-x: hidden;
}

.side-items li
{
    font-size: 1.5rem;
}

.side-items,
.icons
{
    display: none;
}

@media screen and (max-width: 980px)
{

    .sidebar_main
    {
        position: fixed;
        top: 0%;
        right: 0;
        width: 27%;
        min-width: 250px;
        height: calc(100vh - 8.6rem);
        background-color: var(--bg-main);
        border-top: 1px solid black;
        transform: translateY(8.5rem);
    }

    .side-items,
    .icons
    {
        display: block;
        
    }

    .side-items li
    {
        display: flex;
        font-size: 1.25rem; 
        color: var(--white);
        padding: 1.2rem 0 1.2rem 0.9rem;
        width: 100%;
    }

    .side-flex 
    {
        display: flex;
    }

    .side-items li:hover
    {
        color: var(--bg-main);
        background-color: var(--white);
    }

    .side-items li:hover > .icons,
    .side-items li:hover > .side-flex .icons
    {
        fill: var(--bg-main);
    }
}

@media screen and (max-width: 640px)
{
    .sidebar_main
    {
        height: calc(100vh - 5.6rem);
        transform: translateY(5.5rem);
    }
 
    .side-items
    {
        display: block;
    }
}

@media screen and (max-width: 520px)
{
    .sidebar_main
    {
        width: 50%;
        min-width: 200px;
        height: calc(100vh - 4.5rem);
        transform: translateY(4.4rem);
    }

    .side-items li
    {
        font-size: 1.25rem; 
        padding: 0.9rem 1rem;
    }

}